extends ../layout.pug

block content
  h2 Edit Product

  if error
    p.error= error

  form(method="POST" action=`/products/${product._id}?_method=PUT` enctype="multipart/form-data")
    div
      label(for="name") Name
      input(type="text" id="name" name="name" value=product.name required)
    div
      label(for="description") Description
      textarea(id="description" name="description" required)= product.description
    div
      label(for="price") Price
      input(type="number" id="price" name="price" step="0.01" min="0.01" value=product.price required)
    div
      label(for="stock") Stock
      input(type="number" id="stock" name="stock" min="0" value=product.stock required)
    div
      label(for="category") Category
      select(id="category" name="category" required)
        each cat in categories
          option(value=cat selected=(cat === product.category))= cat
    div
      p Current image:
      img(src=product.imageUrl alt=product.name width="100")
      label(for="image") Replace image (optional)
      input(type="file" id="image" name="image" accept="image/*")
    button(type="submit") Save changes

  a(href="/products") Cancel