extends ../layout.pug

block content
  h2 Products
  nav.actions
    a(href="/products/new") + Add new product
    a(href="/") Back to dashboard

  if products.length === 0
    p.empty-state No products yet. Add the first one to get Larry's legacy started.
  else
    table.manifest-table
      thead
        tr
          th Image
          th Name
          th Category
          th Price
          th Stock
          th Actions
      tbody
        each product in products
          tr
            td
              img(src=product.imageUrl alt=product.name width="56" height="56" style="object-fit:cover")
            td= product.name
            td
              span.ice-chip= product.category
            td.price $#{product.price}
            td.num= product.stock
            td.actions-cell
              a(href=`/products/${product._id}/edit`) Edit
              form(method="POST" action=`/products/${product._id}?_method=DELETE`)
                button.btn-danger(type="submit" onclick="return confirm('Delete this product?')") Delete