extends layout.pug

block content
  a.back-link(href="/") ← Back to store

  .product-detail
    img(src=product.imageUrl alt=product.name)
    h2= product.name
    span.ice-chip= product.category
    p.description= product.description
    p.price $#{product.price}

    if product.stock > 0
      p.stock-status.in-stock= `${product.stock} in stock`
      a(href=`/checkout/${product._id}`)
        button(type="button") Order this
    else
      p.stock-status.out-of-stock Out of stock
      button(disabled) Out of stock